@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "react-alice-carousel/lib/alice-carousel.css";

html{
    scroll-behavior: smooth;
}

.tab-indicator {
    position: absolute;
    width: 7px;
    height:7px;
    top: 4%;
    background: #7B90FB;
    border-radius: 100%;
    transform: translateY(-55px) translateX(55px);
    transition: all 500ms ease-in-out;
}
::-webkit-scrollbar {
    display: none;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}